<div>
  <mat-toolbar class="modal-dialog-header" layout="row" color="primary">
    <mat-toolbar-row>
      <span style="font-weight: bold;">{{postingTitle}}</span>
      <span style="flex: 1 1 auto"></span>
      <button mat-icon-button color="" matTooltip="Close" (click)="closeDialog()">
        <mat-icon>clear_all</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div style="padding-top: 12px;">

    <!-- <H3>
      Job Posting
    </H3> -->

    <form>
      <jc-job-posting-editor #jcJobPostingEditor></jc-job-posting-editor>

      <div class="form-button-row">
        <button mat-raised-button (click)="saveJobPosting()">Save</button>
        <button mat-raised-button (click)="closeDialog()">Close</button>
      </div>
    </form>

  </div>
</div>