<div>
  <mat-toolbar class="modal-dialog-header" layout="row" color="primary">
    <mat-toolbar-row>
      <span style="font-weight: bold;">{{dialogTitle}}</span>
      <span style="flex: 1 1 auto"></span>
      <button mat-icon-button color="" matTooltip="Close" (click)="closeDialog()">
        <mat-icon>clear_all</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div style="padding-top: 12px;">

    <!-- <p>
      user-settings-dialog works!
    </p> -->

    <form>
      <!-- tbd -->

      <div class="form-button-row">
        <button mat-raised-button (click)="saveUserSettings()">Save</button>
        <button mat-raised-button (click)="closeDialog()">Close</button>
      </div>
    </form>

  </div>
</div>