.modal-dialog-header {
  z-index: 2;
  font-size: 0.85em;
  min-height: 36px;
  max-height: 36px;
}
.form-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1em;
}
